.images ul {
    margin-left: 25px;
    margin-top: 20px;
    display: inline-block;
    width: calc(100% - 90px);
    text-align: center;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 5px #0000003b;
    border-radius: 3px;
    border: thin solid #b0b0b0;
}

.images li {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.images a {
    text-decoration: none;
    font-family: sans-serif;
    position: absolute;
    top: 11px;
    right: 11px;
    color: #fff;
    background: #F44336;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 21px;
}

.images a:hover {
    background: #e53935;
}

.images h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    margin: 0;
    color: #6c6c6c;
}

.images img {
    max-width: 200px;
    max-height: 200px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.24);
    border: thin solid #b3b3b3;
    margin: 5px;
}

.upload {
    margin-left: 25px;
    margin-top: 20px;
    display: inline-block;
    width: calc(100% - 90px);
    text-align: center;
    background: #fff;
    padding: 4px 20px 22px 20px;
    box-shadow: 0 0 5px #0000003b;
    border-radius: 3px;
    border: thin solid #b0b0b0;
}

.upload h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

h4.message {
    color: #f00;
    background: #fff;
    border: thin solid #4b4b4b;
    margin-top: 40px;
    margin-bottom: 0;
}

body {
    background: #EEEEEE;
    background: -webkit-linear-gradient(right, #F5F5F5, #EEEEEE);
    background: -moz-linear-gradient(right, #F5F5F5, #EEEEEE);
    background: -o-linear-gradient(right, #F5F5F5, #EEEEEE);
    background: linear-gradient(to left, #F5F5F5, #EEEEEE);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;  
}